* {box-sizing: border-box;}
.Navbar-style{
    margin: 0 auto;
    display: grid;
    padding: 10px 3px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    height: 40px;
    overflow: hidden;
    text-align: center;
    background: grey;
    color: white;
}
.Nav-left ul{
    display: flex;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
    padding: 0 3px;
}
.Nav-center{
    grid-column: 2 / 5;
    
    /* background-color: pink; */
}
.Nav-right{
    
}
.search{
   
}